@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: Industry;
    src: url(fonts/Industry-Ultra.woff2);
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/roboto-v30-latin-regular.woff2);
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/roboto-v30-latin-700.woff2);
    font-weight: bold;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: #E2E2E2; /* Light gray text */
background-color: #100e0e; /* Dark gray background */
overflow-x: hidden;
line-height: 1.618;
}

.condensed {
  line-height: 1.1;
  font-size: clamp(14px, calc(0.875rem + ((1vw - 6.4px) * 2.2368)), 48px);
}

a {
  color: #b81f2e;
}

#amount {
  font-size: clamp(20px,8vw,100px);
    font-weight: 900;
    font-family: "Roboto Mono", sans-serif;
    white-space: nowrap;
    color: #b81f2e;
    text-shadow: 0px 0px 4px rgba(184, 31, 46, 1), 0px 0px 0.66em rgba(184, 31, 46, 0.2);
}

#amount.amount-condensed {
  font-size: clamp(1em,6vw,6vh);
}

.condensed .intro p {
  text-align: center;
}

.bottom-line, .hero-text {
    font-family: "Industry", sans-serif;
    font-weight: 900;
    font-size: 1.618em;
    text-transform: uppercase;
}

.highlighter {
  background-color: #E2E2E2;
  color: black;
  display: inline-block;
  padding: 3px 4px;
  padding-bottom: 0px;
  margin: 0px 4px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Distribute space between rows */
    align-items: center; /* Center rows horizontally */
    flex-grow: 1;
    font-family: "Industry", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.container-condensed {
  justify-content: center !important;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.row-1 {
  background-color: #1d1e20;
  background-image: url(images/dark-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.row-2 {
  padding: 25px 10px 25px 0px;
  background-color: #100e0e;
  width: 100vw;
  box-shadow: 0px -20px 80px -0px black;
}

.row-3 {
  background-image: url(images/garage-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.content {
    text-align: center;
}

.intro, .cta {
    padding: 20px 40px;
    text-align: left;
}

.condensed .intro, .condensed .cta {
  padding: 6px 6px;
}

.image-left {
  height:100%
    max-width: 50%;
    margin-right: 20px;
}

.image-right {
    max-width: 50%;
    margin-left: 20px;
    align-self: flex-end;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

footer {
    text-align: center;
    padding: 10px;
    height: 50px;
    background-color: #000000; /* Black footer background */
    color: #E2E2E2; /* Light gray footer text */

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
  border: 1px solid #E2E2E2; /* Light gray footer border */
  display: flex;
  padding: 10px; margin:10px;
}

.condensed p {
  margin:0;
}

@media screen and (min-width: 768px) {

    .row:first-child,
    .row:last-child {
        margin-bottom: 0;
    }

    .row-1 {
        align-items: flex-end;
        height: calc(40vh - 30px);
    }

    .row-2 {
      height: clamp(10vh, 10vw - 10px, 12vh);
      align-items: center;
    }

    .row-3 {
        align-items: flex-start;
        height: calc(40vh - 30px);
    }
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .row:first-child {
        flex-direction: column-reverse;
    }

    .image-left, .image-right {
        display: block;
        margin: 10px auto;
        max-width: calc(100% - 40px);
        margin-bottom: 0px;
    }

    .row:last-child {
        margin-bottom: 0;
    }

    .intro, .cta {
        text-align: center;
    }
}
